#tablemanageruser {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

    .btn-edit {
        width: 50px;
        border: none;
        outline: none;
        background: transparent;
        color: orange;

        &:hover {
            background: transparent !important;
            color: orange !important;
        }
    }

    .btn-delete {
        width: 50px;
        border: none;
        outline: none;
        background: transparent;
        color: rgb(236, 45, 11);

        &:hover {
            background: transparent !important;
            color: rgb(236, 45, 11) !important;
        }
    }
}

#tablemanageruser td,
#tablemanageruser th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tablemanageruser tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tablemanageruser tr:hover {
    background-color: #ddd;
}

#tablemanageruser th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}