.doctor-detail-container {
    height: 500px;
    // border: 1px solid red;


    .intro-doctor {
        display: flex;
        //height: 100px;
        //border: 1px solid green;

        .content-left {
            //width: 20%;

            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: 10px 20px;
        }

        .content-right {
            width: 80%;
            //border: 1px solid grey;
            display: flex;
            flex-direction: column;
            padding-left: 10px;

            .up {
                font-size: 20px;
                font-weight: 600;
                padding-top: 15px;
            }

            .down {
                padding-top: 10px;
            }
        }
    }

    .detail-info-doctor {
        border-top: 1px solid #ddd;
        // padding-top: 20px;
        // padding-left: 10px;
        // padding-right: 10px;
        // padding-bottom: 10px;
        background-color: #f9f9f9;
        padding: 10px 100px;

        h3 {
            font-size: 17px;
        }

        img {
            width: 100%;
        }
    }

    .comment-doctor {
        height: 50px;
    }
}