.profile-doctor-container {
    .intro-doctor {
        display: flex;
        //height: 100px;
        //border: 1px solid green;

        .content-left {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin: 10px 20px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .content-right {
            width: calc(100% - 80px);
            //border: 1px solid grey;
            display: flex;
            flex-direction: column;
            padding-left: 10px;

            .up {
                //font-size: 20px;
                font-weight: 600;
                padding-top: 15px;
            }

            .down {
                // padding-top: 10px;
                text-align: justify;
            }
        }
    }
}